<header class="main-header"></header>
<main-sidebar class="main-sidebar"></main-sidebar>
<div class="content-wrapper">
	<ui-view></ui-view>
</div>
<footer class="main-footer">
	<!-- To the right -->
	<div class="pull-right hidden-xs">
		Anything you want
	</div>
	<!-- Default to the left -->
	<strong>Copyright &copy; 2017 <a href="#">Company</a>.</strong> All rights reserved.
</footer>
<control-sidebar class="control-sidebar control-sidebar-dark"></control-sidebar>
<div class="control-sidebar-bg"></div>