<!-- Logo -->
<a ui-sref="home" class="logo">
	<!-- mini logo for sidebar mini 50x50 pixels -->
	<span class="logo-mini"><b>A</b>LT</span>
	<!-- logo for regular state and mobile devices -->
	<span class="logo-lg"><b>Admin</b>LTE</span>
</a>

<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation">
	<!-- Sidebar toggle button-->
	<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
		<span class="sr-only">Toggle navigation</span>
	</a>
	<!-- Navbar Right Menu -->
	<div class="navbar-custom-menu">
		<ul class="nav navbar-nav">
			<nav-item nav-class="messages-menu" count="4" count-label="label-success" icon="fa-envelope-o" title="'You have 5 messages brother'" footer="{text:'Open All Messages',link:'/calendar'}">
				<nav-item-inner-rich imgurl="'dist/img/user2-160x160.jpg'" imgalt="'Img Alt'" title="'Support Team'" supper="' 5 mins ago'" detail="'Why not buy a new awesome theme?'"></nav-item-inner-rich>
			</nav-item>
			<nav-item nav-class="notifications-menu" count="3"  count-label="label-warning" icon="fa fa-bell-o" title="'You have 10 notifications'" footer="{text:'View all',link:'/calendar'}">
				<nav-item-inner icon="fa fa-users" color="text-aqua" text="'5 new members joined today'"></nav-item-inner>
			</nav-item>
			<nav-item nav-class="tasks-menu" count="8"  count-label="label-danger" icon="fa fa-flag-o" title="'You have 8 tasks'" footer="{text:'View all tasks',link:'/calendar'}">
				<!-- Inner menu: contains the tasks -->
				<ul class="menu">
					<li>
						<!-- Task item -->
						<a href="#">
							<!-- Task title and progress text -->
							<h3>
								Design some buttons
								<small class="pull-right">40%</small>
							</h3>
							<!-- The progress bar -->
							<div class="progress xs">
								<!-- Change the css width attribute to simulate progress -->
								<div class="progress-bar progress-bar-aqua" style="width: 40%" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
									<span class="sr-only">40% Complete</span>
								</div>
							</div>
						</a>
					</li>
					<!-- end task item -->
				</ul>
			</nav-item>
			<!-- User Account Menu -->
			<li class="dropdown user user-menu">
				<!-- Menu Toggle Button -->
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<!-- The user image in the navbar-->
					<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
					<!-- hidden-xs hides the username on small devices so only the image appears. -->
					<span class="hidden-xs">Alexander Pierce</span>
				</a>
				<ul class="dropdown-menu">
					<!-- The user image in the menu -->
					<li class="user-header">
						<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

						<p>
							Alexander Pierce - Web Developer
							<small>Member since Nov. 2012</small>
						</p>
					</li>
					<!-- Menu Body -->
					<li class="user-body">
						<div class="row">
							<div class="col-xs-4 text-center">
								<a href="#">Followers</a>
							</div>
							<div class="col-xs-4 text-center">
								<a href="#">Sales</a>
							</div>
							<div class="col-xs-4 text-center">
								<a href="#">Friends</a>
							</div>
						</div>
						<!-- /.row -->
					</li>
					<!-- Menu Footer-->
					<li class="user-footer">
						<div class="pull-left">
							<a href="#" class="btn btn-default btn-flat">Profile</a>
						</div>
						<div class="pull-right">
							<a href="#" class="btn btn-default btn-flat">Sign out</a>
						</div>
					</li>
				</ul>
			</li>
			<!-- Control Sidebar Toggle Button -->
			<li>
				<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
			</li>
		</ul>
	</div>
</nav>